$primary-first: #015d67;
$primary-secondary: #00acb1;
$primary-third: #87e4db;
$primary-inverted: #caf0c1;

$light-blue: #728fce;
$dark-blue: #151b54;

$error-color: #e7666b;

$text-color: #808080;
$black-color: #000000;
$white-color: #ffffff;

// * Width and height
$header-height: 76px;
$footer-height: 76px;
$hero-height: 300px;

$element-32: 32px;
